.main-ui-container {
	height: 100vh;
}
.top-navbar-wrapper {
	/* display: none; */
	width: 100%;
	padding-top: 10px;
	position: fixed;
	background-color: #fff;
}
.top-navbar {
	display: grid;
	grid-template-columns: 12fr 1fr 1fr;
	width: 95%;
	height: 50px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
.top-logo {
	height: 30px;
	margin-top: 5px;
}
.need-help-wrapper {
	position: relative;
}
.account-dropdown {
  text-align: right;
  padding-top: 4px;
  position: relative;
}
.account-dropdown .user-icon {
	cursor: pointer;
	height: 35px;
}
.account-dropdown .arrow-down {
	cursor: pointer;
	height: 11px;
	margin-top: 3px;
	margin-left: 6px;
}
.account-list-container {
	display: none;
	text-align: left;
	position: absolute;
	background-color: #eaeaea;
	right: 0px;
	top: 40px;
	box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
	z-index: 9999;
	width: 145px;
}
.account-list-container ul {
	padding: 10px 20px 20px;
}
.account-list-container ul li {
  font-size: 14px;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 24px;
}
.account-list-container ul li a {
	color: #525252;
}
.account-list-container ul li a:hover {
  color: #828282;
}
.navbar-blue-bg {
	width: 100%;
	background-color: #0392cf;
	color: #fff;
}
.navbar-blue-bg .container {
	width: 95%;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 8px;
	margin-left: auto;
	margin-right: auto;

}
.welcome-container:first-child {
	margin: 0;
}
.welcome-container:nth-child(2) .line-bottom,
.welcome-container:nth-child(3) .line-bottom,
.welcome-container:nth-child(4) .line-bottom,
.welcome-container:nth-child(5) .line-bottom,
.welcome-container:nth-child(6) .line-bottom {
	display: none;
}
.welcome-container {
	margin: 0 0 0 90px;
	display: inline-block;
	position: relative;
}
.welcome-container h4{
  display: inline-block;
  color: #fff;
  font-size: 15px;
  z-index: 1;
  cursor: pointer;
  margin-top: 10px;
  font-weight: 700;
}
.router-active{
	width: 100%;
	border-bottom: 4px solid #ECF0F1;
	/* background-color: #ECF0F1; */
	padding-bottom: 6px;
	/* margin-top: 5px; */
	/* height: 4px; */
}
.welcome-container .dropdown-menu {
	// display: none;
	position: absolute;
	left: 0;
	top: 30px;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.15);
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.welcome-container .dropdown-menu li a {
	cursor: pointer;
	display: block;
	padding: 3px 20px;
	font-weight: 700;
}
.welcome-container .dropdown-menu li a:hover {
	color: #fff;
	background-color: #c4c4c4;
}
.welcome-top-navbar-wrapper {
	width: 100%;
	padding-top: 10px;
	position: fixed;
	background-color: #fff;
}
.welcome-top-navbar-wrapper .top-navbar{
	display: grid;
	grid-template-columns: 12fr 1fr;
}
.need-help-text-container:hover, 
.need-help-text-container .need-help-text:hover {
  text-decoration: none;
  color: #909090;
}
.need-help-text-container {
  display: inline;
}
.need-help-text-container .need-help-text {
  font-size: 14px;
  font-family: "Open Sans";
  color: #777777;
  font-weight: 800;
  padding-top: 15px;
  padding-bottom: 10px;
  float: right;
}
.need-help-text-container:hover div.tooltip-container {
  visibility: visible;
  right: 0;
  top: 30px;
  margin-top: 15px;
  z-index: 999;
}
.tooltip-container {
  position: absolute;
  width: 310px;
  color: #FFFFFF;
  background: #f1eded;
  height: auto;
  padding: 35px 35px;
  visibility: hidden;
  z-index: 9999;
}
.tooltip-container h3 {
	font-family: "Open Sans";
	font-weight: 800;
}
.tooltip-container h3:hover {
	text-decoration: none;
  color: #909090;
}
.tooltip-container:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 90%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-bottom: 8px solid #efefef;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
h3.tooltip-title {
    color: #0392cf;
    font-size: 22px;
    margin-bottom: 40px;
    margin-top: 0px;
}
h3.tooltip-phone-email-title {
    color: #494949;
    font-size: 18px;
}
h3.tooltip-phone-email-details {
    color: #8a8a8a;
    font-size: 16px;
}
h3.tooltip-phone-email-details {
    color: #8a8a8a;
    font-size: 16px;
}
.tooltip-phone-container {
	margin-bottom: 45px;
}
h3.tooltip-phone-email-title {
    color: #494949;
    font-size: 18px;
}
h3.tooltip-phone-email-details {
    color: #8a8a8a;
    font-size: 16px;
}