
@media (max-width: 1263px) {

	.profile-side-list .configure-container > span, 
	.profile-side-list .integrate-container > span, 
	.profile-side-list .payments-container > span {
		padding: 0 15px !important;
	}

	.profile-side-list .configure-container,
	.profile-side-list .integrate-container,
	.profile-side-list .payments-container {

		> div {
			padding: 30px 15px 10px !important;
		}

		> div span {
			font-size: 13px;
		}
	}
}

@media (max-width: 1200px) {
	.settings-clinic-container {
		grid-template-columns: 12% 88%;
	}

	.modal-wrapper {
		padding: 0 10px;
	}
	.manual-claim-modal .modal-clinic-container {
		width: 100%;
	}
}

@media (min-width: 1080px) {
	.detail-header-container .fa-bars {
		display: none;
	}

	.staff-side-list .fa-times {
		display: none;
	}
}

@media (max-width: 1080px) {
	.settings-clinic-container {
		display: block;
	}

	.side-panel li {
		display: inline-block;
		width: 20%;

		a {
			padding: 20px 0;
		}
	}

	.side-panel img,
	.side-panel .profile-img,
	.side-panel .transaction-img {
		height: 35px;
		width: 35px;
	}

	.detail-header-container .fa-bars {
		display: initial;
		cursor: pointer;
	}

	.detail-header-container  {
		ul >li:first-child a {
			padding: 15px 15px 15px 0;
		}
	} 

	.clinic-staff-wrapper {
		grid-template-columns: 1fr 100%;
		overflow-x: hidden;

		.staff-side-list,
		.detail-wrapper {
			position: relative;
			left: -320px;
		}
		.detail-wrapper {
			margin: 10px 0 0;
		}
		.staff-side-list {
    	min-width: 320px;
		}
		.staff-header-list {
			clear: both;
		}
	}

	.staff-side-list .fa-times {
		cursor: pointer;
		display: block;
		float: right;
		font-size: 16px;
		margin: 0 20px 20px 0;
	}
}

@media (max-width: 1024px) {
	.claim-registration-container,
	.successful-transactions {
		.container-fluid {
			overflow-x: auto;

			&::-webkit-scrollbar {
				height: 3px;
			}
		}
		.table-registration,
		.table-successfulTransaction {
			width: 884px;
		}
	}

	.manual-claim-modal {
		.modal-clinic-container {
			width: 40%;
			height: 630px;
		}
		.modal-clinic-container .calendar-input-wrapper >div:first-child {
			width: 100%;
		}
		.modal-clinic-container .nric-list-container {
			width: 100%;
			z-index: 1;
			top: 75px;
		}
	}

	.manual-claim-body-modal {
		.table-manual thead {
			display: none;
		}

		.table-manual tbody tr {
			display: grid;
			width: 100%;
		}

		.table-manual td {
			padding: 0px 0 15px;
		}

		.table-manual td:nth-child(1) {
			padding-left: 0;
			width: 100%;
		}

		.table-manual tr td:nth-child(2) {
			width: 100%;
		}

		.table-manual td:last-child {
			text-align: left;
		}
	}

	.manual-head-text-input {
	  display: block;
	  margin: 0 0 5px;
	}
}

@media (max-width: 992px) {
	.dashboard-summary-wrapper {

		.time-frame-container {
			padding: 40px 50px;
		}

		.values-container {
			width: auto;
		}
	}

	.trans-history-tbl-wrapper {
		margin: 0 50px;
		overflow-x: auto;

		.trans-history-tbl {
			width: 992px;
		}

		&::-webkit-scrollbar {
			height: 3px;
		}
	}

	.successful-trans-header-container {
		display: block;

		.filter {
			margin: 10px 0 0;
		}

		.search-wrapper {
			margin: 0;
		}
	}
}

@media (min-width: 800px) {
	.navbar {
		.menu-bar-right {
			display: none;
		}
	}
}

@media (max-width: 800px) {
	.navbar {
		height: 70px;

		.nav-items ul {
			padding-left: 0;
		}

		.menu-bar-right {
			display: block;
		}

		.navbar-collapse {
			top: 70px;
		}
	}

	.settings-clinic-wrapper {
		padding: 70px 0 0;
	}
}

@media (min-width: 767px) {
	.current-last-year-wrapper {
		display: none;
	}

	.clinic-staff-wrapper .detail-header-container ul:nth-child(2) {
		display: none;
	}
}

@media (max-width: 767px) {
	.dashboard-summary-wrapper {

		.current-last-year-wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.claim-slider-container {
			display: none;
		}
	}


	.successful-trans-header-container {
		.filter {
			display: block;
		}

		.date-wrapper {
			display: block;
			margin: 30px 0 0;
		}

		.btn-date {
			height: auto;
			width: 100%;
			display: block;
		}

		.left-icon-wrapper,
		.right-icon-wrapper {
			position: absolute;
			z-index: 1;
			top: 10px;
		}

		.left-icon-wrapper {
			left: 0;
		}

		.right-icon-wrapper {
			right: 0;
		}

		span.arrow-right {
			display: block;
			margin: 10px 0;
		}

		.date-wrapper {
			text-align: center;
		}

		.date-wrapper input {
			padding: 10px 0;
			width: 100%;
		}

		.date-wrapper .fa-long-arrow-down {
		  display: block;
		}

		.date-wrapper .fa-long-arrow-right {
		  display: none;
		}
	}
	.clinic-claim-wrapper {
		padding: 100px 10px 50px;

		.claim-card {
			padding: 25px 20px;
		}

		.clinic-claim-btn-container button {
			width: 255px;
		}
	}

	.verify-user-modal .modal-clinic-container {
    width: 100%;
	}

	.clinic-account-wrapper .line-break {
		display: block !important;

		>div:first-child {
			margin: 0 0 20px;
		}
	}

	.clinic-staff-wrapper .detail-header-container ul:nth-child(1) {
		display: none;
	}

	.clinic-staff-wrapper .detail-header-container ul:nth-child(2) {
		display: flex;
		align-items: center;

		select {
			background: #fff;
    	padding: 3px 5px;
    	border: 1px solid #ddd;
		}
	}

	.clinic-row-container {
		display: block;

		>div:nth-child(1) {
			text-align: left;
			margin: 0 0 10px;
		}

		>div:nth-child(2) {
			width: 100%;

			input {
				width: 100%;
			}
		}

		&.pin-container .btn-staff {
			margin: 20px 0 0;
		}
	}

	.services-info-container .detail-body-info-header {
		
		h1 {
			margin: 0 10px 0 0;
		}

		button {
			float: initial;
		}
	}

	.detail-body-info-header {
		display: block;

		>div:nth-child(1) {
			width: auto;
			text-align: left;
			padding: 0;
		}

		>div:nth-child(2) {
			width: auto;
			display: flex;
			align-items: center;
			padding: 15px 0;
		}
	}

	.services-body-container {
		padding: 20px 0 0 0;
	}

	.services-row-container .right-container {
		width: 50%;
	}

	.working-hours-info-container {
		.working-hour-body-wrapper >div:first-child {
			display: none;
		}
	}

	.breaks-body-info-container {
		.working-row-container {
			padding: 20px 0 30px 0;
		}
	}

	.time-off-info-wrapper .add-img-container {
		top: 0;
		margin: 0 0 0 10px;
	}

	.time-off-body-info-container {

		>div:nth-child(1) {
			display: none;
		}

		>div:nth-child(2) {
			width: 100%;
			padding: 25px 10px 32px;
		}
	}

	.add-time-modal .modal-wrapper {
		padding: 0;
	}

	.add-time-modal .modal-clinic-container {
		width: 320px;

		.custom-time-off >div {
			display: block;
			width: 100%;
		}

		.time-off-input-wrapper label {
			width: 100%;
		}

		.time-off-input-wrapper input {
			width: 100%;
		}

		.staff-day-checkbox {
			padding: 0;
		}
	}
}


@media (max-width: 575px) {

	.dashboard-summary-wrapper {

		.year-selector-wrapper {
			display: inline-block;
			margin: 10px 0 0;
		}
		.year-selector:first-child {
			padding-left: 0;
		}
		.year-selector {
			padding: 0 8px;
		}
		.time-frame-container {
			padding: 40px 20px;
		}
		.current-last-year-wrapper {
			display: block;
			text-align: center;
			padding: 0 120px;
		}
		.custom-picker-wrapper {
			padding: 10px 0 20px;
		}
		.custom-picker-wrapper .fa-calendar,
		.custom-picker-wrapper .fa-caret-down {
			position: absolute;
			z-index: 1;
			top: 10px;
		}
		.custom-picker-wrapper .fa-calendar {
			left: 0;
		}
		.custom-picker-wrapper .fa-caret-down {
			right: 0;
		}
		.custom-picker-wrapper .custom-date-selector,
		.custom-picker-wrapper .custom-date-selector-wrapper {
			width: 100%;
			display: block;
			height: auto;
		}
		.today-date-selector-wrapper,
		.custom-date-selector-wrapper {
			padding: 0 120px;
			display: block;
			text-align: center;
		}
		.custom-date-selector-wrapper span,
		.current-last-year-wrapper span {
			margin: 10px 0;
			display: block;
		}

		.values-container .value-box {
			width: 100%;
			display: block;
		}

		.values-container .value-box:first-child {
			border-right: 0;
			border-bottom: 1px solid #ddd;
			padding: 0 0 20px;
    	margin: 0 0 10px;
		}
	}

	.dashboard-summary-wrapper .custom-picker-wrapper {
		.fa-arrow-down {
			display: block;
		}

		.fa-arrow-right {
			display: none;
		}
	}

	.dash-tans-history-container {
		.trans-history-header {
			padding: 20px 20px;
		}
	}

	.trans-history-tbl-wrapper {
		margin: 0 20px;
	}

	.dash-trans-history-wrapper {
		margin: 40px 0;

		.trans-history-header {
			padding: 20px;
		}
	}

	.dash-trans-history-container {
		.btn-footer-wrapper {
			padding: 20px 20px 0;
			text-align: center;
		}
	}

	.manual-claim-modal {
		.modal-clinic-container {
			width: 300px;
		}

		.modal-clinic-container .modal-header,
		.modal-clinic-container .modal-body {
			padding: 20px;
		}
	}

	.side-panel {

		ul {
			display: flex;
		}

		li a {
			font-size: 12px;
		}

		img,
		.account-img,
		.transaction-img {
			height: 30px;
			width: 30px;
			margin: 0;
		}

		.profile-img {
			height: 40px;
		}

		span {
			display: none;
		}

		br {
			display: none;
		}
	}

	.clinic-account-wrapper {
		padding: 0 20px !important;
	}

	.clinic-staff-wrapper {

		.doctor-tooltip {
			right: 0;
		}

		.doctor-tooltip .arrow:after {
			top: -3px;
			left: auto;
			right: 7px;
		}
	}

	.side-panel >li:nth-child(4) {
		padding: 15px 0;
	}

	.services-info-container .detail-body-info-header {
		
		h1 {
			float: initial;
		}
		>div:nth-child(2) {
			display: block;
			padding: 15px 0;
		}
	}

	.working-hours-info-container {

		.working-row-container {
			display: block;
			padding: 0 0 10px;
			border-bottom: 1px solid #ddd;
		}

		.working-row-container .timepicker-container {
			padding: 0;
		}

		.clinic-switch-container {
			margin: 10px 0;
		}
	}


	.breaks-body-info-container {
		.working-row-container {
			display: block;
		}

		.working-row-container .timepicker-container {
			padding: 0;
		}

		button {
			margin: 10px 0;
		}
	}
}

@media (max-width: 562px) {
	.clinic-claim-btn-container {
		button:first-child {
			margin: 0 15px 10px 0;
		}
	}
}

@media (max-width: 450px) {
	.dashboard-summary-wrapper {
		.current-last-year-wrapper {
			padding: 0;
		}

		.today-date-selector-wrapper,
		.custom-date-selector-wrapper {
			padding: 0px;
		}
	}
}










