.settings-clinic-wrapper {
	padding: 90px 0 0;
	background-color: #fff;
}

.settings-clinic-container {
	display: grid;
	grid-template-columns: 10% 90%;
}

.side-panel {
	height: 895px;
	border-right: 1px solid #ddd;
	background-color: #72CEF3;

	li {
		display: block;

		&.active {
			background-color: #B0E2F9;
		}
	}

	li a{
		color: #555;
		display: block;
		font-weight: 700;
		padding: 20px 0;
		text-align: center;
	}

	img {
		height: 40px;
		width: 40px;
		margin: 0 0 5px;
	}

	.account-img {
		height: 35px;
		width: 35px;
	}

	.profile-img {
		height: 48px;
		width: 48px;
	}

	.transaction-img {
		height: 32px;
		width: 32px;
	}
}

.clinic-account-wrapper {
	margin: 20px 0 0;
	padding: 0 50px;

	.account-header-title {
		padding: 0 0 15px;
		border-bottom: 1px solid #ccc;
		margin: 0 0 20px;
	}

	h2 {
		padding: 10px 0 0;
		font-size: 18px;
		font-weight: 700;
	}

	.line-break {
		padding: 20px 0 30px 0;
		border-bottom: 1px solid #DCDCDC;
		color: #666666;
		font-size: 15px;
		font-weight: 700;
		display: grid;
		grid-template-columns: 25% 75%;
	}

	.calendar-selector-container {
		cursor: pointer;
		display: block;
		margin: 20px 0 0;

		span {
			padding: 0 0 0 10px;
		}
	}

	.account-input-wrapper {
		position: relative;
		font-size: 14px;

		input {
			background-color: #fff;
			border: 1px solid #999;
			border-radius: 4px;
			display: inline-block;
			height: 37px;
			width: 125px;
			padding: 6px 30px 6px 12px;
			text-align: left;
		}

		i {
			position: absolute;
			left: 105px;
			top: 12px;
		}
	}

	.dropdown-menu {
		width: 125px;
		background-color: #fff;
		border: 1px solid rgba(0, 0, 0, .15);
		border-radius: 4px;
		box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
		position: absolute;
		top: 38px;
		padding: 5px 0;
		z-index: 1;

		li a {
			color: #333;
			display: block;
			font-weight: 400;
			padding: 3px 20px;
		}

		li a:hover {
			background-color: #e8e8e8;
			background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
		}
	}

	.timepicker-wrapper {
		position: absolute;
		top: 0;
		z-index: 1;
		background-color: #fff;

		.dropdown-menu {
			position: inherit;
			height: 150px;
			overflow-y: auto;
		}
	}
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
  overflow: hidden;
  line-height: 28px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 400;
  
	input:checked + .slider {
	  background-color: #e0e0e0;
	  color: #333;
	  left: -38px;
	}

	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0px;
	  right: 0;
	  bottom: 0;
	  background-color: #1b9bd7;
	  transition: .4s;
	  border-radius: 2px;
	  width: 130px;
	  color: #FFF;
	}

	.slider:before {
	  position: absolute;
	  content: "";
	  height: 25px;
	  width: 8px;
	  border-radius: 4px;
	  left: 35px;
	  bottom: 0;
	  background-color: #6fc9f5;
	  transition: .4s;
	}

	.slider span {
	  display: inline-block;
	  width: 40px;
	  height: 25px;
	  text-align: center;
	}
}

.clinic-staff-wrapper {

	display: grid;
	grid-template-columns: 20% 80%;
	height: 100%;

	.setting-info-container {
		width: 100%;
	}

	.doctor-tooltip {
		position: absolute;
		right: -130px;
    z-index: 1;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, .2);

    h3 {
    	background-color: #d8f5f9;
    	color: #666666;
    	padding: 8px 14px;
    	border-bottom: 1px solid #ebebeb;
    	border-radius: 5px 5px 0 0;
    	font-weight: 400;
    }

    .arrow:after {
    	display: block;
	    background-color: #fff;
	    height: 20px;
	    width: 20px;
    }

    .tooltip-content {
    	padding: 9px 14px;
    }

    input {
    	width: 250px;
    	height: 46px;
    	background-color: #fff;
    	border-radius: 4px;
    	border: 1px solid #929292;
    	padding: 6px 12px;
    	margin: 0 0 20px;
    }

    button {
    	background-color: transparent;
    	border: 0;
    	border-radius: 4px;
    	padding: 8px 12px;
    	width: 75px;
    }

    .btn-add-doctor {
    	width: 110px;
    	color: #fff;
    	background-color: #1597d1;
    	margin: 0 10px 0 0;
    }

    .btn-cancel {
    	border: 1px solid #929292;
    }
	}

	.staff-side-list {
		background-color: rgb(176, 226, 249);
		font-weight: 700;
		padding: 20px 0 0;

		.staff-header-list {
			padding: 0 15px;
		}
	}

	.add-img-container {
		float: right;
		position: relative;
	}

	.add-img-container img {
		height: 25px;
		width: 25px;
	}

	.staff-doctor-container {
		padding: 20px 30px 10px;

		img {
			height: 40px;
			width: 40px;
		}

		span {
			display: inline-block;
			padding: 15px 15px 0;
			font-size: 12px;
			color: #000;
		}
	}

	.detail-wrapper {
		padding: 10px 30px;
	}

	.detail-header-container {
		border-bottom: 1px solid #ddd;
		position: relative;

		ul {
			display: flex;
		}

		li a {
			display: block;
			color: #5F6565;
			padding: 15px;
		}

		li a.active {
			font-weight: 700;
			color: #000;
		}

		.trash-img-container {
			position: absolute;
			top: 13px;
			right: 0;
			font-size: 16px;
		}

		.trash-img-container a {
			color: #000;
		}
	}

	.detail-body-container {
		margin: 20px 0 0;
	}

	.staff-row-container {
		display: flex;
		align-items: center;
		margin: 0 0 20px;

		&.line-break {
    	border-bottom: 1px solid #DCDCDC;
    	padding: 35px 0 35px 0;
		}

		&.btn-update-container {
			padding: 0 0 30px 0;
		}

		&.pin-container .btn-staff {
			margin: 0 0 0 15px
		}

		&.google-sync-container,
		&.btn-update-container,
		&.pin-container {
			margin: 0px;
		}

		>div:nth-child(1) {
			width: 25%;
			text-align: right;
			padding: 0 27px 0 0;
		}

		>div:nth-child(2) {
			width: 75%;
		}

		img {
			width: 85px;
			height: 85px;
		}

		.text-label {
			color: #666666;
			font-weight: 700;
		}

		input {
			background-color: #fff;
			border: 1px solid #ddd;
			border-radius: 5px;
			padding: 12px 15px;
			font-weight: 700;
			width: 300px;
		}

		input.input-error {
			border: 1px solid red;
   	 	border-color: red;
   	 	box-shadow: 0 0 5px red;
		}

		.btn-staff {
			background: #1b9bd7;
	    border: 0px;
	    color: #fff;
	    width: 75px;
	    height: 42px;
	    border-radius: 5px;
	    font-weight: 700;
		}
	}

	.phone-number-input-wrapper {
		display: table;

		.input-group-addon {
			display: table-cell;
			border: 1px solid #ddd;
			color: #686868;
			background-color: #fff;
			height: 20px;
			width: 40px;
			cursor: pointer;
			border-right: 0;
	    padding: 10px 16px;
	    border-top-left-radius: 5px;
	    border-bottom-left-radius: 5px;
		}

		input {
			width: 242px;
			border-bottom-left-radius: 0;
    	border-top-left-radius: 0;
		}
	}
}