*{
	box-sizing: border-box;
}

body,html{
  /*height: 100%;*/
  width: 100%;
  background: #f1f1f1;
  font-family: 'Helvetica Light';
  color: #444340;
  font-size: 14px;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  letter-spacing: .14px;
  line-height: 1.42857143;
}

html{
  height: auto;
}

button{
  font-family: 'Helvetica Light';
}

/*button{
  display: inline-block;
  border: none;
  line-height: 1;
  padding: 10px 15px;
  font-size: 16px;
  color: rgba(255,255,255,0.87);
  background-color: #076086;
  border-radius: 2px;
  height: 36px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  text-transform: uppercase;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(.35,0,.25,1);
  transition-timing-function: cubic-bezier(.35,0,.25,1);
  -webkit-transition-property: background-color,fill,color;
  transition-property: background-color,fill,color;
  font-family: inherit;
  text-align: center;
}*/

input, select, textarea{
  font-family: 'Helvetica Light';
}

a{
  color: #777;
  text-decoration: none;
}

a:focus{
  outline: none;
}

.text-success{
  color: #35ad35;
}

.text-error{
  color: #ff0000c9;
}

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) { overflow-y: visible !important; }

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #31b0d5;
}

.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.btn-info {
  line-height: 1.4;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .5px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
}