.account-wrapper {
	padding: 150px 0 50px;
	background-color: #fff;
	height: 100vh;

	.account-billing-header {
		border-bottom: 1px solid #eee;
		text-align: center;
	}

	h3 {
		font-size: 24px;
		margin: 20px 0 20px;
		line-height: 1.1;
	}

}